@model string

@{
    ViewBag.Title = "Dettaglio ";
}

<div class="row">
    <div class="col-xs-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>@Model</h2>
    </div>
</div>